.block-editor-block-list__block[data-type="originative/hero-background"] > .block-editor-block-list__block-content {
  position: relative;
  min-height: 160px;
  display: block;
  overflow: hidden;
}
